<div class="bg-white block w-100 h-60 rounded-3xl border-2 border-transparent shadow-xl pl-10 pt-5 group hover:-translate-y-1 hover:border-2 hover:border-red-300 transition duration-300">
    <span class="material-symbols-outlined text-5xl! bg-red-50 border-2 group-hover:bg-[#dc2626] group-hover:text-white group-hover:duration-300 border-transparent rounded-xl text-[#dc2626] mb-2.5">{{ iconName() }} </span>
    <h1 class="text-2xl font-bold text-[#000000] group-hover:text-[#dc2626] mb-2">{{ title() }}</h1>
    <p class="text-slate-500 w-80">{{ description() }}</p>
</div>